body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, lightblue, rgb(255, 255, 199));
    background-size: 200% 100%;
    animation: gradient 5s linear infinite;
}
a {
    color: black;
    text-decoration: none; /* Entfernt die Unterstreichung */
}

/* Optional: Wenn Sie möchten, dass der Link beim Überfahren mit der Maus (Hover) eine andere Farbe hat */
a:hover {
    color: green;
}

/* Optional: Wenn Sie möchten, dass der Link eine andere Farbe hat, wenn er besucht wurde */

.logo:visited{
    color:black;
}
#createTweet{
    border-radius:20px;
}
.navSpacer{
    width:5vh;
}
.grayC{
    color: darkgray;
    font-weight: 600;
    -webkit-text-stroke: 0%;
}
.tweetFeed{
    box-shadow: 0 0 10px darkgray;
}
.Karte{
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
.trailing{
    text-align: right;
    color: darkgray;
}
.top-section{
    padding: 20px;

}
.leading{
    font-size: larger;
    text-align: left;
    font-weight: bold;
}
.greyColor{
    color: darkgray;
}
.blacknWhiteButton{
    visited: white;
}
.formClass{
    padding:29px;
    background-color: white;

}
.formStyle {
    border-radius: 8px;
    border: 1px solid black;
}
.active{
    background-color: lightblue;
    box-shadow: 0 0 10px blue;
}